.quem-somos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 40px auto;
  max-width: 1100px;
}

.tituloQuemSomos {
  font-size: 50px;
}
.quem-somos .texto {
  font-family: "Poppins", sans-serif;
  font-weight: 50;
  font-size: 23px;
  font-style: italic;
  line-height: 1.6;
  color: #333;
  text-align: center;      
  max-width: 250px;         
  margin: 0 auto;           
  word-wrap: break-word; 
}

.quem-somos .imagens {
  padding: 100px;
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quem-somos .imagens img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}



body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #faf7f2;
color: #333;
}
header {
background-color: #7a3e1d;
color: white;
padding: 15px;
text-align: center;
}
nav {
display: flex;
justify-content: center;
background-color: #a0522d;
}
nav a {
color: white;
padding: 14px 20px;
text-decoration: none;
display: block;
}
nav a:hover {
background-color: #8b4513;
}
.container {
max-width: 1000px;
margin: 20px auto;
padding: 20px;
}
.hero {
text-align: center;
padding: 50px 20px;
background: url('img/Sabor-de-Casa.png') center/cover;
color: white;
border-radius: 8px;
}
.hero h1 {
font-size: 2.5rem;
margin-bottom: 10px;
}
.cardapio {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}
.prato {
background: white;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
padding: 15px;
text-align: center;
}
.prato img {
width: 100%;
border-radius: 8px;
}
footer {
background-color: #7a3e1d;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}
form input, form textarea {
width: 100%;
padding: 10px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 4px;
}
form button {
background-color: #a0522d;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
form button:hover {
background-color: #8b4513;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rbba(0,0,0,0.3);
    transition: transform 0.2s;
}

.whatsapp img:hover {
    transform: scale(1.1);
}

#cardapio {
    margin-top: 40px;
  }
  #cardapio h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8b0000;
  }
  #cardapio .item {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
  }
  #cardapio .item h3 {
    margin: 0 0 10px;
  }
  #cardapio .item input {
    width: 50px;
    text-align: center;
  }
  #cardapio button {
    background: #8b0000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }
  #cardapio button:hover {
    background: #a52a2a;
  }